In [35]:
# importig required packages
import matplotlib as plt
import pandas as pd
import statsmodels.api as sm
import seaborn as sns

In [39]:
salary_df = pd.read_csv("salary .csv")
salary_df.shape

(514, 11)

In [40]:
salary_df.describe()

,salary,exprior,yearsworked,yearsrank,market,degree,otherqual,position,male,Field,yearsabs
count,513.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000
mean,50863.220098,2.926070,12.852140,7.052529,0.948521,0.964981,0.044747,2.132296,0.750973,2.529183,6.982490
std,12685.132358,4.791397,9.444695,6.414771,0.149380,0.184008,0.206950,0.820075,0.432871,1.127420,16.873156
min,29000.000000,0.000000,0.000000,0.000000,0.710000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
25%,40000.000000,0.000000,4.000000,2.000000,0.840000,1.000000,0.000000,1.000000,1.000000,2.000000,0.000000
50%,50096.000000,0.500000,12.000000,5.000000,0.920000,1.000000,0.000000,2.000000,1.000000,3.000000,1.000000
75%,60345.000000,4.000000,22.000000,12.000000,1.020000,1.000000,0.000000,3.000000,1.000000,4.000000,2.000000
max,96156.000000,25.000000,41.000000,28.000000,1.330000,1.000000,1.000000,3.000000,1.000000,4.000000,118.000000

In [42]:
# checking for null values
salary_df.isnull().sum()

salary         1
exprior        0
yearsworked    0
yearsrank      0
market         0
degree         0
otherqual      0
position       0
male           0
Field          0
yearsabs       0
dtype: int64

### Splitting the dataset into Training set and Test set

In [37]:

#dependant variable is salary as the change in years should affect the salary earned 
yrs_worked = salary_df.iloc[:, 2].values
# independant variable is years worked  
salary_earned = salary_df.iloc[:, 0].values
yrs_worked

array([ 0,  0,  0,  2,  2,  0,  2,  2,  2,  0,  3,  3,  3,  3,  0,  2,  2,
        1,  3,  2,  1,  0,  1,  3,  2,  3,  3,  2,  2,  0,  1,  3,  0, 10,
        3,  0,  0,  2,  4,  3,  3,  0,  4,  3,  6,  2,  4,  5,  1,  0,  3,
        0,  1,  5,  2,  6,  5,  2,  3,  7,  6,  0,  7,  3,  7,  6,  5,  4,
        4,  7,  4,  6,  6,  6,  2,  5,  4,  1,  7,  0,  5,  3,  2,  2,  7,
        8,  4,  7, 11,  8,  6,  8, 10,  8,  5,  2,  3,  6, 10,  7,  9,  8,
        1,  6,  9, 11,  3,  5, 16,  7,  9, 10, 10,  3,  7,  9,  2, 11, 11,
        6, 11, 11, 12, 12,  5, 14, 11,  6, 12, 13, 20,  7,  4,  7,  8,  4,
       13, 20, 12, 10, 14, 13,  4, 11, 14,  7,  9, 18,  1, 13,  8, 14, 15,
        9,  6, 13, 15, 16, 15, 15,  7, 15, 13, 13,  5,  3, 14, 15, 11, 13,
       23, 18, 17, 15,  6, 17, 17, 12, 19,  9, 13, 10,  3, 20, 17, 10, 18,
       11, 16, 20, 15, 17, 18, 21, 20, 17,  9, 19, 20, 24, 15, 16,  0,  0,
       20, 24,  7, 16, 21, 16, 21, 18, 20, 21, 15,  2,  4,  8, 22, 23, 17,
        7, 26, 15, 14, 22, 24,  2, 21, 20, 21, 20, 19, 21, 24, 22, 25, 22,
       29, 16, 18, 25, 22, 28, 14, 25, 24, 21, 24, 26, 19, 26, 25, 21, 23,
       22, 21, 22, 26, 25,  4, 24, 25, 26, 22, 23,  1, 24, 21, 22,  7, 23,
       25, 23, 21, 23, 22, 22, 26, 22, 23, 24, 22, 23, 25, 25, 24, 23, 24,
       25,  4, 28, 25, 20, 17, 19,  3, 23,  2, 21,  2, 17, 19, 24, 23, 24,
       23, 24, 27, 24, 25, 25, 27, 13, 14, 26,  3, 28, 26, 27, 21, 25, 26,
       25,  5, 26, 31, 23, 24, 17,  2, 29, 21, 27, 28, 27, 15, 30, 28, 26,
       25, 27, 28, 28, 30, 24, 27, 27, 26,  8, 28, 29, 21, 30, 26, 19, 29,
       25, 24, 22, 30, 26, 28, 23, 35, 32, 23, 29, 28, 28, 29, 22, 30, 30,
       26, 22, 33, 12, 28, 29, 21, 22, 41, 25, 24, 27,  0,  1,  1,  2,  2,
        1,  3,  2,  2,  1,  2,  4,  0,  0,  4,  0,  0,  2,  0,  1,  3,  0,
        3,  0,  3,  2,  4,  0,  3,  3,  3,  4,  4,  6,  6,  5,  4,  4,  3,
        0,  2,  0,  5,  4,  6,  7,  7,  7,  5,  5,  0,  3,  7,  6, 10,  3,
        8,  8,  3,  9,  7,  8,  7,  4,  0,  2,  8,  1, 12,  7, 12,  9,  8,
       10, 12,  7, 12,  6, 13, 10, 13,  6,  0, 13, 22, 15, 14, 15,  8,  1,
       12, 15, 15, 12,  6, 17, 11, 17, 10, 18, 28, 18, 17,  3, 13, 13,  1,
       12, 20, 19, 18, 19, 14, 18, 20, 22, 11,  5, 25, 23, 23, 23, 19, 17,
       19,  7, 20, 25])

In [38]:
#histogram
sns.set()
plt.figure(figsize=(15,10))
plt.hist(salary_df['salary'], color='r', stacked=False, orientation='vertical')
plt.ylabel('salary')
plt.xlabel('number of employees')
plt.title('Salaries Of Employees')
plt.show()

TypeError: 'module' object is not callable